body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.i-tree {
  border: 1px solid #ddd;
}

.i-circles .i-circle{
  fill: #FFF;
  stroke: #cecece;
  stroke-width: 3px;
}

.i-lines .i-line {
  stroke: #ccc;
}
